@import '../../Typings/CommonStyles.less';
.navBarContainer{
    background-color: @bottom-box-black-color;
    width:@navbar-width;
    height: 100%;
    right: 0;
    z-index: 20;
    position: absolute;
    overflow:auto;
}


.navBarBox{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
}
