@bottom-box-black-color: #111;
@bottom-box-download-button-orange: #f68338;
@bottom-box-info-tile-heading-white: #fff;
@header-and-content-color: #191919;
@content-page-text-grey: #888;
@divider-color: #222;

@bottom-box-height: 15vh;
@header-height: 15vh;
@navbar-width: 30vw;

.contentSubHeading {
  color: @bottom-box-download-button-orange;
  font-size: 20px;
}

.contentHeading {
  color: @bottom-box-info-tile-heading-white;
  font-size: 30px;
}

.contentParagraph {
  color: @content-page-text-grey;
  font-size: 15px;
}

.divider{
    --divider-color: @divider-color;
}

.contentParagraphHeading {
  color: @bottom-box-info-tile-heading-white;
  font-size: 15px;
}
